@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --font-family: "Montserrat", sans-serif;
  --bg-color: #212121;
  --primary-color: #eeeeee;
}

body {
  font-family: var(--font-family);
  background-image: radial-gradient(circle, #32373b, #4a5859);
  color: var(--primary-color);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin: 0px;
}

h1 {
  font-size: 5em;
}

h3 {
  font-size: 2em;
  margin-top: 20px;
}

.mensagem {
  margin-top: 40px;
  font-size: 1.5em;
}

.box {
  display: inline-block;
  border: 2px solid var(--primary-color);
  padding: 10px 20px;
  margin: 20px;
  font-size: 4em;
  min-width: 80px;
}

.btn-jogar {
  padding: 8px 15px;
  border: 0;
  border-radius: 5px;
  margin-top: 20px;
  background-color: var(--primary-color);
}
